@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes meteor {
  0% {
    transform: rotate(var(--angle, 215deg)) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(var(--angle, 215deg)) translateX(-500px);
    opacity: 0;
  }
}

.animate-meteor-effect {
  animation: meteor linear infinite;
  pointer-events: none;
}

